@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);



#menu-0 .mbr-brand__name {
  font-size: 16px;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #f00;
}
#menu-0 .mbr-navbar__items a {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}
#menu-0 .mbr-brand__name a {
  font-family: 'Oswald', sans-serif;
  font-size: 25px;
}
#footer1-2 P {
  color: #ff0000;
}
#slider-4 H1 {
  text-align: center;
  color: #fff;
  text-shadow: 3px 3px #000;
}
#slider-4 B {
  color: #ffffff;
}
#slider-4 P {
  color: #ffffff;
  text-shadow: 2px 2px #000;
}
#features1-6 .mbr-section__col .mbr-header__text {
  color: #ff0000;
  font-size: 18px;
}
#features1-6 .mbr-section-title .mbr-header__text {
  color: #f00000;
}
#features1-6 .btn {
  font-family: 'Oswald', sans-serif;
}


#menu-0 .mbr-brand__name {
  font-size: 16px;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #000000;
}
#menu-0 .mbr-navbar__items a {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}
#menu-0 .mbr-brand__name a {
  font-family: 'Oswald', sans-serif;
  font-size: 25px;
}


#contacts2-8 P {
  font-size: 13px;
}
#form1-9 .mbr-header__text {
  font-size: 30px;
  text-align: center;
}
#menu-0 .mbr-brand__name {
  font-size: 16px;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #000000;
}
#menu-0 .mbr-navbar__items a {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}
#menu-0 .mbr-brand__name a {
  font-family: 'Oswald', sans-serif;
  font-size: 25px;
}


#menu-0 .mbr-brand__name {
  font-size: 16px;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #000000;
}
#menu-0 .mbr-navbar__items a {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}
#menu-0 .mbr-brand__name a {
  font-family: 'Oswald', sans-serif;
  font-size: 25px;
}
#features1-18 P {
  font-size: 18px;
}
#content5-19 .mbr-header .mbr-header__text {
  text-align: center;
  color: #000;
}
#content5-19 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #f00;
}
#content5-19 .mbr-article {
  color: #f00;
}
#content5-19 .mbr-header .mbr-header__text SPAN {
  text-align: right;
}


#menu-0 .mbr-brand__name {
  font-size: 16px;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #000000;
}
#menu-0 .mbr-navbar__items a {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}
#menu-0 .mbr-brand__name a {
  font-family: 'Oswald', sans-serif;
  font-size: 25px;
}
#header3-21 H3 {
  text-align: left;
}


#menu-0 .mbr-brand__name {
  font-size: 16px;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #000000;
}
#menu-0 .mbr-navbar__items a {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}
#menu-0 .mbr-brand__name a {
  font-family: 'Oswald', sans-serif;
  font-size: 25px;
}
#image2-42 SMALL {
  text-align: center;
}
